.container {
  height: 100%;
  padding: 2.4rem;
  background-color: var(--color-2);
}

h1 {
  text-align: center;
  margin-bottom: 3.2rem;
  font-size: var(--font-size-1-mobile);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.success {
  margin-top: 2.0rem;
  padding: 1.6rem;
  background-color: var(--color-8);
  border-radius: 1.0rem;
}