.container {
  min-height: 100vh;
  padding: 24px;
  background-color: var(--color-2);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--color-6);
  font-size: 16px;
}

.success {
  margin-top: 20px;
  padding: 16px;
  background-color: var(--color-8);
  border-radius: 10px;
}