.login-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.6rem;
  background-color: var(--color-2);
}

.login-title {
  text-align: center;
  margin-bottom: 3.2rem;
  font-size: var(--font-size-1-mobile);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.login-form input {
  padding: 1.2rem;
  font-size: var(--font-size-3-mobile);
  border-radius: 0.6rem;
  border: 0.1rem solid var(--color-6);
}
