.dashboard-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  background-color: var(--color-2);
}

.dashboard-title {
  text-align: center;
  margin-bottom: 32px;
}

.dashboard-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

