.dashboard-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.6rem;
  background-color: var(--color-2);
}

.dashboard-title {
  text-align: center;
  margin-bottom: 3.2rem;
}

.dashboard-buttons {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

